[submodule "tools/frida-ios-dump"]
	path = tools/frida-ios-dump
	url = https://github.com/lemon4ex/frida-ios-dump.git
[submodule "tools/ios-cmake"]
	path = tools/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "tools/restore-symbol"]
	path = tools/restore-symbol
	url = https://github.com/tobefuturer/restore-symbol.git
[submodule "tools/PPiOS-Rename"]
	path = tools/PPiOS-Rename
	url = https://github.com/preemptive/PPiOS-Rename.git
[submodule "tools/classdump-dyld"]
	path = tools/classdump-dyld
	url = https://github.com/limneos/classdump-dyld.git
