<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>net.ymlab.easyDev.cocoaPluginFramework</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates a framework that uses Cocoa.</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.osxBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.library.dynamic</string>
			<key>TargetIdentifier</key>
			<string>plugin</string>
			<key>SharedSettings</key>
			<dict>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<true/>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/___PACKAGENAME___-Prefix.pch</string>
				<key>CODE_SIGN_IDENTITY</key>
				<string>Mac Developer</string>
			</dict>
			<key>BuildPhases</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>___VARIABLE_TargetAppName___</string>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/Info.plist</string>
				<key>PRODUCT_NAME</key>
				<string>___VARIABLE_TargetAppName___</string>
				<key>PRODUCT_BUNDLE_IDENTIFIER</key>
				<string>___VARIABLE_TargetAppBundleId___</string>
				<key>DEFINES_MODULE</key>
				<true/>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<true/>
				<key>CODE_SIGN_IDENTITY</key>
				<string>Mac Developer</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShowEnvVarsInLog</key>
					<string>true</string>
					<key>ShellScript</key>
					<string>#!/bin/sh

target_exe_name=&quot;${TARGET_NAME}_x86_64&quot;
resource_path=&quot;${SRCROOT}/Resources&quot;
target_app_name=&quot;${TARGET_NAME}.app&quot;
sign_id=&quot;${EXPANDED_CODE_SIGN_IDENTITY}&quot;
dylib_path=&quot;${BUILT_PRODUCTS_DIR}/${PROJECT_NAME}.dylib&quot;
resource_exe_path=&quot;${resource_path}/${target_exe_name}&quot;
product_exe_path=&quot;${BUILT_PRODUCTS_DIR}/${target_app_name}/Contents/MacOS/${TARGET_NAME}&quot;
product_app_path=&quot;${BUILT_PRODUCTS_DIR}/${target_app_name}&quot;
resource_app_path=&quot;${resource_path}/${target_app_name}&quot;

rm -rf &quot;${pruduct_app_path}&quot;
cp -rf &quot;${resource_app_path}&quot; &quot;${product_app_path}&quot;
cp -rf &quot;${resource_exe_path}&quot; &quot;${product_exe_path}&quot;
cp -rf &quot;${dylib_path}&quot; &quot;${product_app_path}/Contents/MacOS&quot;

/opt/EasyDev/bin/optool install -p &quot;@executable_path/${PROJECT_NAME}.dylib&quot; -t &quot;${product_exe_path}&quot;

chmod 777 &quot;${product_exe_path}&quot; #注意，这一步必须</string>
				</dict>
			</array>
			<key>Dependencies</key>
			<array>
				<string>plugin</string>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>TargetAppName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Target App Name:</string>
			<key>Description</key>
			<string>Target App Name.</string>
			<key>Type</key>
			<string>text</string>
			<key>Placeholder</key>
			<string>AppStore</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>TargetAppBundleId</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Target App Bundle Id:</string>
			<key>Description</key>
			<string>Target App Bundle Id.</string>
			<key>Type</key>
			<string>text</string>
			<key>Placeholder</key>
			<string>com.apple.appStore</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist</string>
		<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___.mm</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:importFoundation</string>
		<string>../Resources/readme.txt</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist</key>
		<dict>
			<key>Path</key>
			<string>Info.plist</string>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
		</dict>
		<key>*:*:importFoundation</key>
		<string>#import &lt;Foundation/Foundation.h&gt;
</string>
		<key>___PACKAGENAME___-Prefix.pch:objC</key>
		<dict>
			<key>Beginning</key>
			<string>#ifdef __OBJC__</string>
			<key>End</key>
			<string>#endif</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>___PACKAGENAME___-Prefix.pch</key>
		<dict>
			<key>Beginning</key>
			<string>//
// Prefix header for all source files of the &apos;___PACKAGENAME___&apos; target in the &apos;___PACKAGENAME___&apos; project
//
</string>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.mm</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.mm</string>
		</dict>
		<key>../Resources/readme.txt</key>
		<dict>
			<key>Beginning</key>
			<string>此文件夹内存放需要使用的资源文件，请按照以下结构存放，如有资源名字调整，请到编译脚本里修改相关脚本代码。

├── ___VARIABLE_TargetAppName___.app 	被调试的目标app
├── ___VARIABLE_TargetAppName____x86_64	目标64位二进制，强烈建议恢复符号
└── 其他文件
└── ......</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
