<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>net.ymlab.easyDev.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Nodes</key>
	<array>
		<string>icon.png</string>
		<string>Info.plist:PackageType</string>
		<string>Info.plist:IconFiles</string>
		<string>TargetApp/put ipa or app here</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>icon.png</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>icon.png</string>
		</dict>
		<key>main.m:main</key>
		<dict>
			<key>Beginning</key>
			<string>int main(int argc, const char * argv[]) {</string>
			<key>End</key>
			<string>}</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>main.m</key>
		<dict>
			<key>SortOrder</key>
			<integer>999</integer>
		</dict>
		<key>Info.plist:PackageType</key>
		<string>&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;APPL&lt;/string&gt;
</string>
		<key>Info.plist:IconFiles</key>
		<string>&lt;key&gt;CFBundleIconFiles&lt;/key&gt;
&lt;array&gt;
&lt;string&gt;___PACKAGENAME___/icon.png&lt;/string&gt;
&lt;/array&gt;</string>
		<key>TargetApp/put ipa or app here</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>TargetApp</string>
			</array>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>EASYDEV_TARGET_BUNDLEID</key>
				<string>NO</string>
				<key>EASYDEV_ADD_SUBSTRATE</key>
				<string>NO</string>
				<key>EASYDEV_INSERT_DYLIB</key>
				<string>YES</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>/opt/EasyDev/tools/pack-ios.sh</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
				<dict>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>DstSubfolderSpec</key>
					<integer>10</integer>
					<key>DstPath</key>
					<string></string>
					<key>Class</key>
					<string>CopyFiles</string>
				</dict>
				<dict>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>/opt/EasyDev/tools/pack-ios.sh codesign</string>
				</dict>
			</array>
			<key>TargetIdentifier</key>
			<string>net.ymlab.easyDev.TargetApp</string>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>tweakTypeChoice</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Tweak Type:</string>
			<key>Description</key>
			<string>Your primary implementation language for tweak.</string>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>CaptainHook</string>
			<key>Variables</key>
			<dict>
				<key>CaptainHook</key>
				<dict>
					<key>ibCustomModuleProvider</key>
					<string>target</string>
					<key>moduleNamePrefixForClasses</key>
					<string>$(PRODUCT_MODULE_NAME).</string>
				</dict>
				<key>Logos</key>
				<dict>
					<key>ibCustomModuleProvider</key>
					<string></string>
					<key>moduleNamePrefixForClasses</key>
					<string></string>
				</dict>
			</dict>
			<key>Values</key>
			<array>
				<string>CaptainHook</string>
				<string>Logos</string>
			</array>
			<key>Units</key>
			<dict>
				<key>CaptainHook</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>ProductBuildPhaseInjections</key>
							<array>
								<dict>
									<key>TargetIdentifier</key>
									<string>net.ymlab.easyDev.TargetApp</string>
								</dict>
							</array>
							<key>Identifier</key>
							<string>net.ymlab.easyDev.captainHookTweak</string>
							<key>Name</key>
							<string>lib___PACKAGENAME___</string>
						</dict>
					</array>
				</dict>
				<key>Logos</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>ProductBuildPhaseInjections</key>
							<array>
								<dict>
									<key>TargetIdentifier</key>
									<string>net.ymlab.easyDev.TargetApp</string>
								</dict>
							</array>
							<key>Identifier</key>
							<string>net.ymlab.easyDev.logosTweak</string>
							<key>Name</key>
							<string>lib___PACKAGENAME___</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES</key>
			<string>*.nib *.lproj *.gch (*) .DS_Store CVS .svn .git .hg *.xcodeproj *.xcode *.pbproj *.pbxproj</string>
			<key>ENABLE_BITCODE</key>
			<string>NO</string>
			<key>CODE_SIGN_IDENTITY</key>
			<string>iPhone Developer</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>8.0</string>
		</dict>
	</dict>
	<key>Components</key>
	<array/>
</dict>
</plist>
